.DS_Store
node_modules/
unpackage/
dist/

# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Editor directories and files
.project
.idea
.hbuilderx
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
node_modules
yarn.lock
/.history
/src/ext.json
/src/ext.json
gitlab-ci.yml
Dockerfile
deployment.yaml
nginx.conf
